Test application to verify structural directive behaviour and passing it as an input argument.
<br>
<ng-container *appMyTemplate="let text; let text1 = text1; let text2 = text2">
    My test directive: implicit parameter: [{{text}}], second parameter: [{{text1}}], third parameter: [{{text2}}]
</ng-container>
<br>
<button (click)="directiveVisible = !directiveVisible;">Show directive content</button>
<br>
<ng-container *ngIf="directiveVisible">
    <ng-container *ngTemplateOutlet="myDirective; context: {$implicit: 'text', text1: 'text1', text2: 'text2'}"></ng-container>
</ng-container>
<br>
<app-first-child [myDirective]="myDirective"></app-first-child>